<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Android Compatibility Tests" parallel="tests" thread-count="1">

    <test name="Android Compatibility Test-1">
        <parameter name="deviceName" value="Motorola"/>
        <parameter name="platformVersion" value="13"/>
        <parameter name="udid" value="ZY22H9J8L6"/>
        <parameter name="portNumber" value="4723"/>
        <classes>
            <class name="sprint3.Parallel">
            </class>
        </classes>
    </test>

    <!-- Emulador Android
    <test name="Android Compatibility Test-1">
        <parameter name="deviceName" value="Motorola"/>
        <parameter name="platformVersion" value="13"/>
        <parameter name="udid" value="ZY22H9J8L6"/>
        <parameter name="portNumber" value="777"/>
        <classes>
            <class name="sprint3.Parallel">
            </class>
        </classes>
    </test>

    <test name="Android Compatibility Test-1">
        <parameter name="deviceName" value="Motorola"/>
        <parameter name="platformVersion" value="13"/>
        <parameter name="udid" value="ZY22H9J8L6"/>
        <parameter name="portNumber" value="666"/>
        <classes>
            <class name="sprint3.Parallel">
            </class>
        </classes>
    </test>

    -->


    <!-- sauce labs

<test name="Android Compatibility Test-1">
    <parameter name="deviceName" value="Google_Pixel_5_free"/>
    <parameter name="platformVersion" value="14"/>
    <parameter name="portNumber" value=""/>
    <classes>
        <class name="sprint3.Parallel">
        </class>
    </classes>
</test>

<test name="Android Compatibility Test-2">
    <parameter name="deviceName" value="Samsung_Galaxy_A23_free"/>
    <parameter name="platformVersion" value="13"/>
    <parameter name="portNumber" value=""/>
<classes>
    <class name="sprint3.Parallel">
    </class>
</classes>
</test>
    -->


</suite>